{{#each allUsers}}
        <div class="discover-card">
            <div class="row">

                <img class= 'profileImg' src="{{profileImg}}" alt="Profile Image">
                <a href="/artist/{{_id}}"><h3>{{username}}</h3></a>
        
            
            </div>
            <p><button><img class="flaticon-img" src="/images/heart.svg" alt="like"></button> {{likes}}</p>

        </div>

{{/each}}