{{#each allUsers}}
        <div class="discover-card">

            <div class="row">

                <img class= 'profileImg' src="{{profileImg}}" alt="Profile Image">
                <h3>{{username}}</h3>
            
            </div>
            <p><button><img class="flaticon-img" src="/images/heart.svg" alt="like"></button> {{likes}}</p>

        </div>

{{/each}}