


<div class="container">

    <div class="col-sm-6">

        <div class="row">
                    
            <h1>Damage sound</h1> 

        </div>
        <div class="row">
            
            <p>A new music social platform to connect creators and listeners.</p>

        </div>

    </div>

</div>


<section class="about">

    <div class="container">

        <div class="row align-items-center justify-content-around">


            <div class="col-md-7">


                <div class="parallax" data-direction="vertical" data-speed="-0.2">

                    <img class="central-img" src="/images/home-imgs/person-playing.jpg" alt="Playing music">

                </div>



                <div class="fakebox parallax" data-direction="horizontal" data-speed="0.2">

                    <img src="/images/home-imgs/vinyl.jpg" alt="Holding vinyl">

                </div>


            </div>

            <div class="col-md-5 parallax" data-direction="horizontal" data-speed="0.05">

                <header>
                    <h2>Share your talent to the world</h2>
                </header>
                <article>
                    Our mission is make help you to grow!
                </article><br>
                <a class="play-button-like" href="/profile">Upload new songs</a>

            </div>


        </div>

    </div>

</section>


<section class="about">

    <div class="container">

        <div class="row align-items-center justify-content-around">




            <div class="col-md-5 parallax" data-direction="horizontal" data-speed="-0.1">

                <header>
                    <h2>Make new partners!</h2>
                </header>
                <article>
                    Request collaboration from another artist and awesome the world with your talent
                </article><br>
                    <a class="play-button-like" href="/discover">Discover new artists</a>

            </div>

            <div class="col-md-2"></div>
                <div class="col-md-5">



                <div class="parallax" data-direction="horizontal" data-speed="0.3">

                    <img class="central-img" src="/images/home-imgs/collab.jpg" alt="Playing music">

                </div>



                <div class="fakebox parallax" data-direction="horizontal" data-speed="0.18">

                    <img src="/images/home-imgs/man-pry.jpg" alt="Holding vinyl">

                </div>


            </div>


        </div>

    </div>

</section>


<section class="about">

    <div class="container">

        <div class="row align-items-center justify-content-around">


            <div class="col-md-7">


                <div class="parallax" data-direction="vertical" data-speed="-0.2">

                    <img class="central-img" src="/images/home-imgs/table.jpg" alt="Playing music">

                </div>


                <div class="fakebox parallax" data-direction="vertical" data-speed="0.2">

                    <img src="/images/home-imgs/piano.jpg" alt="Holding vinyl">

                </div>


            </div>

            <div class="col-md-5 parallax" data-direction="vertical" data-speed="-0.3">

                <header>
                    <h2>All genres are allowed</h2>
                </header>
                <article>
                    The variety is the key of success
                </article><br>
                <a  class="play-button-like" href="/discover/songs">Be amazed</a>


            </div>


        </div>

    </div>

</section>














    <script src="/javascripts/parallax.js"></script>

