<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel='icon' href='../images/favicon.ico' type='image/x-icon'/ >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rank">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {{{body}}}

    </main>
        <div class="music-player">
        {{> musicPlayerPartial}}

        </div>
<script src="javascripts/apiHandler.js"></script>
<script src="javascripts/likeMiddleware.js"></script>
<script src="javascripts/playMiddleware.js"></script>
<script src="javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/domManipulation/songContainerCreator.js"></script>
<script src="javascripts/domManipulation/profileAlbums.js"></script>
<script src="javascripts/domManipulation/profilePlaylists.js"></script>
<script src="javascripts/profileViews.js"></script>
<script src="javascripts/profileActions.js"></script>
</body>

</html>