<h1>Play a Song!</h1>


<button class="btn btn-dark btn-block btn-lg playButton" songID="5ea98f3ef9b7c12555c4e793"
    media="{{mario}}">Click to Play Mario</button>


<form action="/api/like/5ea98f3ef9b7c12555c4e793" method="get">
    <button type="submit" class="btn btn-dark btn-block btn-lg playButton" songID="5ea98f3ef9b7c12555c4e793"
        media="{{halo}}">Click to Play Halo</button>
</form>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/likeMiddleware.js"></script>
<script src="javascripts/playMiddleware.js"></script>
<script src="javascripts/webplayer.js"></script>