<h1>Hey you are in RANKING view</h1>

    <form action="/rank" method="POST">
        <button type="submit" class="btn btn-dark btn-block btn-lg">The most listened</button>            
        <button type="submit" class="btn btn-dark btn-block btn-lg">The ones people prefer</button>            
    </form>