<form method="POST" action="/upload/song" enctype="multipart/form-data">
    <div class="form-group">
        <label for="songFile">Upload a File</label>
        <input type="file" class="form-control-file" id="songFile" name="songFile">
        <input type="text" class="form-control-file" id="name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form method="POST" action="/upload/img" enctype="multipart/form-data">
    <div class="form-group">
        <label for="imgFile">Upload a File</label>
        <input type="file" class="form-control-file" id="imgFile" name="imgFile">
        <input type="text" class="form-control-file" id="name" name="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>