<form method="POST" action="/upload">
    <div class="form-group">
        <label for="songFile">Upload a File</label>
        <input type="file" class="form-control-file" id="songFile">
        <input type="text" class="form-control-file" id="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>