$middle-red: #F38D68;
$russian-violet: #0B0033;
$rich-black: #000000;
$cultured: #F1F3F4;
body {
    font-weight: 200;
    padding-bottom: 100px;
    background-color: #1A1A1A;
    color: $cultured;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    color: $cultured;
}

.navbar {
    background-color: $rich-black;
}

.navbar-dark .navbar-nav .nav-link {
    color: $cultured;
}

.navbar-brand {
    padding: 0;
    img {
        width: 100px;
        margin-left: 150px;
    }
}

button {
    text-align: center;
    background-color: #1A1A1A;
    border: none;
}

a {
    text-decoration: none;
    color: $cultured;
}

a:hover {
    text-decoration: none;
    color: white;
}

.a-buttons {
    font-size: .8em;
    color: $middle-red;
    border: 2px solid $middle-red;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 10px 5px;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $cultured;
}

.navbar {
    margin-bottom: 70px;
}

#errorMsg {
    background-color: red;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
}

.profileImg {
    width: 100px;
    background-color: #511845;
    border-radius: 50%;
    margin: 10px;
}

.coverImg {
    width: 200px;
    background-color: #511845;
    border: 1px solid black;
    margin-right: 10px;
}

.play-button-like {
    padding: 2px 10px;
    border: 2px solid $middle-red;
    border-radius: 4px;
    background-color: $middle-red;
    text-align: center;
    align-content: center;
    margin-top: 5px;
}

.play-button-song {
    background-color: none;
}

.list-button {
    display: block;
    width: 100%;
    color: $middle-red;
    border-bottom: 1px solid $middle-red;
}

.playImg {
    width: 60px;
}

.playListImg {
    width: 15px;
}

.flaticon-img {
    width: 15px;
    margin-right: 5px;
    background-size: cover;
    transition: all .4s;
    filter: invert(97%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(250%) contrast(94%);
}

audio {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.play-img {
    filter: invert(97%) sepia(8%) saturate(39%) hue-rotate(154deg) brightness(100%) contrast(94%);
}

.navbar {
    padding: 0px;
}

.navbar-discover {
    ul {
        a {
            color: $cultured;
        }
        a:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.discover-container {
    ul {
        list-style: none;
    }
}

.song-container {
    margin: 50px 0;
    .play-button-like {
        margin: 5px 15px;
    }
}

.discover-card {
    margin-bottom: 40px;
    padding: 10px;
    border-bottom: 1px solid #b8b8b8;
}

.albums-artist-row {
    margin: 30px 0 60px 0;
}

//----RANKING-----
.btn-rank {
    margin-bottom: 10px;
}

.song-cover {
    width: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.song-cover-ranking {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.col-songs {
    margin: 0 50px 50px 0;
}

.row-rank-btns {
    margin-bottom: 40px;
}

.title-rank {
    text-align: center;
    margin-bottom: 40px;
}

.song-title {
    font-weight: 300;
}

.small-author:hover {
    color: $middle-red;
}

.song-plays {
    padding: 0;
    margin: 0;
}



// Profile

.profile-options {
    margin-bottom: 80px;
}

.profile-options section {
    display: flex;

    .profile-options-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nav-actions {
        font-size: 1.2em;
        list-style-type: none;
        padding-top: 10%;

        li {
            margin: 10px;
        }
        li:hover {
            font-weight: 400;
            cursor: pointer;
        }
    }
    }

    .profile-picture-container {
        display: flex;

        .profileImg-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        form  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 0.7em;

            input {
                font-size: 1em;
            }

            button {
                font-size: 0.95em;
            }

        }

        .profileInfo-container {
            padding-top: 10%;
        }
        .profileInfo-container .name {
            font-weight: 700;
            font-size: 1.2em;
        }

         .profileInfo-container .likes {
            font-weight: 400;
        }
    }

    .profile-upload-song {
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;

    }
}

.profile-section-separation {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

.approvedMsg {
    color: $middle-red;
}

